*{/*para todo el archivo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{/*ponerlo siempre*/
    font-family: Calibri;
    font-size: 18px;
    line-height: 24px; /*interlineado*/
    color: #ffffff;
}
html{
    scroll-behavior: smooth;
    background-color: #141414;
}
.ancho{
    width: 1200px;
    margin: auto;
    text-align: center;
    /*border: 1px red solid;*/   
    background-color: #56787c;
}
.encabezado_cont{
    padding: 20px;
    background-color: cadetblue;
}
.cont1{
    padding: 40px;
}
.cont1 h3{
    text-align: left;
}
.cont1 a{
    display: inline-block;
    color: white;
    margin-bottom: 15px;
}
.forms{
    border: 1px white solid;
    border-radius: 15px;
    padding: 20px;
}
.cont_in2{
    border: 1px white solid;
    border-radius: 15px;
    padding: 50px;
}
.tabladatos{
    margin: auto;
    width: 950px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px #333 solid;
    color: #ffffff;
    padding: 10px;
}
.tabladatos th{
    background-color: #276675;
    color: #000000;
    text-align: center;
    padding: 3px 5px;
}
.tabladatos td{
    border: 1px #333 solid;
    text-align: center;
    padding: 3px 5px;
    border-radius: 5px;
}
.tabladatos a{
    margin: 0px;
}